* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

body {
    /* Adição de cor no body*/
    background: linear-gradient(gray 35%, black);
}

#login {
    border: 2px solid black;
    border-radius: 15px;
}

#login,
#form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
    padding: 7px;
}

input,
#bottao {
    border: 1px solid black;
}

#email {
    padding: 2px;
}

#bottao {
    color: white;
    background-color: rgba(0, 0, 0, 0.144);
}

#email {
    width: 300px;
}