* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



body {
    background-color: rgb(192, 184, 249);
}

header {
    background-color: rgb(124, 106, 240);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body.tema-escuro {
    background-color: rgba(18, 47, 106, 0.947);

}

header.tema-escuro {
    background-color: rgba(3, 2, 59, 0.834);
}

#fundo.tema-escuro {
    background-color: rgba(73, 108, 214, 0.714);

}

#emailteste,
#logout {
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#logout {
    font-weight: bolder;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 100%;
}

#açaousuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

#mudarTema {
    margin-left: 50px;
    margin-right: 20px;
}




#container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

#fundo {

    width: 99%;
    height: 86vh;
    background-color: rgb(145, 133, 240);
    border-radius: 2vh;
    display: flex;
    justify-content: center;

}


#boardslist{
    width: 100px;
    height: 40px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}
 
#boardLayout {
    display: flex;
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
    align-items: flex-start; /* Alinha as colunas no topo */
}

.column-item {
    background-color: white;
    width: 200px;
    height: 500px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Garantir que os conteúdos internos fiquem em coluna */
    align-items: center;
    justify-content: flex-start; /* Tarefas alinhadas no topo */
}

.task-item {
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15px; 
    padding: 15px; 
   

.task-item h6 {
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 8px; 
}

.task-item p {
    font-size: 14px; 
    color: #666; 
    line-height: 1.5; 
}

/* Efeito ao passar o mouse */
.task-item:hover {
    transform: scale(1.03); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); 
}